camera
certifi
chardet
click
dlib
face-recognition
face-recognition-models
Flask
idna
imutils
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
opencv-python
Pillow
pkg-resources
requests
scikit-learn
scipy
sklearn
threadpoolctl
urllib3
Werkzeug
